.App {
  max-width: 1000px;
  display: grid;
  grid-template-areas: 
  "title title title title"
  "break break session session"
  "timer timer timer timer";
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
}

.title {
  grid-area: title;
  font-size: 48px;
}